<section id="ptPageContent" class="pt-page-content">
	<article>
		<div style="text-align: center">
			<h2>404</h2>
			<p>Not Found</p>
			<p>page {{route}}</p>
			<a href="#" class="am-ui" data-am-ui="route" data-am-ui-value="home"
				data-am-ui-animation="1" data-am-ui-theme="pt-page-1">Home</a> <br>
			<a href="#" class="am-ui" data-am-ui="route" data-am-ui-value="about"
				data-am-ui-animation="56" data-am-ui-theme="pt-page-2">About</a> <br>
			<a href="#" class="am-ui" data-am-ui="route"
				data-am-ui-value="portfolio" data-am-ui-animation="26"
				data-am-ui-theme="pt-page-3">Portfolio</a><br> <a href="#"
				class="am-ui" data-am-ui="route" data-am-ui-value="home"
				data-am-ui-animation="58" data-am-ui-theme="pt-page-4">HomeDiff</a><br>
		</div>
	</article>
</section>
